

<div style="margin: 70px 0px 0px 70px" >
  <h4 id="title">やることを登録する</h4>
  <br>
  <%= render partial: 'tasks/form', locals: { task: @task } %>

  <br><br><br>

  <thead>
    <tr>
        <h4 id="title">一覧</h4>
        <th colspan="3"></th>
    </tr>
  </thead>

  <div id="tasks_area">
    <%= render partial: 'tasks/lists', locals: { tasks: @tasks } %>
  </div>
</div>
