<div class="home">
  <div class="container">
    <div class="home_contents">
      <h1 class="h3 home_contents_title">毎日のタスク管理をちょっぴり楽しく</h1>
      <%= link_to "ログインする", new_user_session_path, class: "btn home_contents_btn" %>
    </div>
  </div>
</div>
