// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  &_contents {
    height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &_title {
      margin-top: 12vh;
    }
    &_btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      background: #fd5068;
      color: #fff;
    }
  }
}

.mainImage {
  width: 1000px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 50px;
}

.aboutSection{
  width: 1000px;
  margin-right:auto;
  margin-left:auto;
}

.aboutSection h2{
  text-align:center;
  font-size:11px;
  margin-bottom: 40px;
  line-height: 1.2;

}

.aboutSection h2 span{
  font-size:35px;
  border-bottom:2px solid #000000;
}

.aboutSection ul{
  overflow: hidden;
}

.aboutSection li {
  float: left;
  list-style: none;
  width: 32%;
}

.aboutSection li img {
  width:100%;
  height: auto;
}
